@page "{id}"
@using _0_Framework.Application
@model ServiceHost.Pages.ProductModel
@{
    ViewData["Title"] = Model.Product.Name;
    ViewData["Keywords"] = Model.Product.Keywords;
    ViewData["metaDescription"] = Model.Product.MetaDescription;
}

@section Styles
    {
    <style>
        .blue-border {
            stroke: blue;
            stroke-width: 3;
        }
    </style>

}
<div class="col-12" id="successMessage" style="display:none">
    <p class="text-success">Form submitted successfully!</p>
</div>

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="/Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategorySlug">@Model.Product.Category</a>
                            </li>
                            <li class="active">@Model.Product.Name</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="single-product-main-content-area section-space" style="direction: ltr;">
                            <div class="row" style="display: flex; flex-direction: row-reverse">
                                <div class="col-lg-6">

                                    <div class="product-details-slider-area">
                                        <div class="big-image-wrapper">
                                            <div class="product-details-big-image-slider-wrapper product-details-big-image-slider-wrapper--bottom-space ht-slick-slider"
                                                 data-slick-setting='{
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "arrows": false,
            "autoplay": false,
            "autoplaySpeed": 5000,
            "fade": true,
            "speed": 500,
            "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
            "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
        }' data-slick-responsive='[
            {"breakpoint":1501, "settings": {"slidesToShow": 1, "arrows": false} },
            {"breakpoint":1199, "settings": {"slidesToShow": 1, "arrows": false} },
            {"breakpoint":991, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
            {"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
            {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
            {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} }
        ]'>

                                                <div class="single-blog-post-media">
                                                    <div class="image">
                                                        <img src="~/ProductPictures/@Model.Product.Picture" class="" alt="@Model.Product.PictureAlt" title="@Model.Product.Name">
                                                    </div>
                                                </div>

                                                @foreach (var picture in Model.Product.Pictures)
                                                {
                                                    <div class="single-image">
                                                        <img src="~/ProductPictures/@picture.Picture" class="img-fluid"
                                                             alt="@picture.PictureAlt" title="@picture.PictureTitle">
                                                    </div>
                                                }


                                            </div>
                                        </div>


                                        <div class="product-details-small-image-slider-wrapper product-details-small-image-slider-wrapper--horizontal-space ht-slick-slider"
                                             data-slick-setting='{
        "slidesToShow": 4,
        "slidesToScroll": 1,
        "arrows": true,
        "autoplay": false,
        "autoplaySpeed": 5000,
        "speed": 500,
        "asNavFor": ".product-details-big-image-slider-wrapper",
        "focusOnSelect": true,
        "centerMode": false,
        "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
        "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
    }' data-slick-responsive='[
        {"breakpoint":1501, "settings": {"slidesToShow": 3, "arrows": false} },
        {"breakpoint":1199, "settings": {"slidesToShow": 3, "arrows": false} },
        {"breakpoint":991, "settings": {"slidesToShow": 5, "arrows": false, "slidesToScroll": 1} },
        {"breakpoint":767, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
        {"breakpoint":575, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
        {"breakpoint":479, "settings": {"slidesToShow": 2, "arrows": false, "slidesToScroll": 1} }
    ]'>
                                            <div class="single-image">
                                                <img src="~/ProductPictures/@Model.Product.Picture" class="img-fluid"
                                                     alt="@Model.Product.Picture">
                                            </div>
                                            @foreach (var picture in Model.Product.Pictures)
                                            {
                                                <div class="single-image">
                                                    <img src="~/ProductPictures/@picture.Picture" class="img-fluid"
                                                         alt="@picture.Picture" title="@picture.Picture">
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="single-product-content-description">
                                        <p class="single-info">
                                            <a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategorySlug">@Model.Product.Category</a>
                                        </p>

                                        <h2 class="product-title">@Model.Product.Name</h2>
                                        <div class="product-rating">
                                            <span class="rating">
                                                <i class="ion-android-star active"></i>
                                                <i class="ion-android-star active"></i>
                                                <i class="ion-android-star active"></i>
                                                <i class="ion-android-star active"></i>
                                                <i class="ion-android-star-outline"></i>
                                            </span>

                                            <span class="review-count">
                                                <a href="#">(2 reviews)</a> | <a href="#">نظر دهید .</a>
                                            </span>
                                        </div>

                                        <p class="single-grid-product__price" style="direction: rtl">
                                            @if (Model.Product.HasDiscount)
                                            {
                                                <span id="pricemain" class="main-price discounted"> تومان</span>
                                                <span> تومان</span>
                                                <span id="discountmain" class="discounted-price"> تومان</span>
                                                <span> تومان</span>
                                            }
                                            else
                                            {
                                                <span id="pricemain" class="main-price"> تومان</span>
                                                <span> تومان</span>
                                            }

                                        </p>

                                        @*   @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
                                        {
                                        <p>@Model.SuccessMessage</p>
                                        } *@


                                        <p id="myParagraph"></p>
                                        <p class="single-info">کد محصول: <span class="value">@Model.Product.Code</span> </p>
                                        <p class="single-info">
                                            @if (Model.Product.IsInStock)
                                            {
                                                <span class="text-success">موجود در انبار</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">محصول ناموجود</span>
                                            }
                                        </p>
                                        <p><strong class="parent-color">رنگ :</strong><span id="color-field"></span></p>
                                        <div id="parent-list">
                                            @if (Model.Product.ProductColors != null)
                                            {
                                                @foreach (var colors in Model.Product.ProductColors)
                                                {
                                                    @if (colors.CurrentCount > 0)
                                                    {
                                                        <svg height="100" width="80">
                                                            <a class="circle">
                                                                <circle cx="50" cy="50" r="29" stroke="black" stroke-width="3" data-price="@colors.DoublePrice" data-pricetomoney="@colors.Price" data-discountpricemain="@colors.PriceWithDiscount" data-fill="@colors.ColorPName" id="myPrice" fill="@colors.ColorName" />
                                                            </a>
                                                        </svg>
                                                    }
                                                }
                                            }
                                        </div>
                                        <p class="product-description">
                                            @Model.Product.ShortDescription
                                        </p>

                                        @if (Model.Product.HasDiscount)
                                        {
                                            <div class="product-countdown-main">
                                               
                                                <div class="product-countdown" data-countdown="@Model.Product.DiscountExpireDate "></div>
                                                <div >
                                                    <p>پیشنهاد شگفتانه</p>
                                                </div>
                                            </div>
                                        }

                                        <div class="product-actions">
                                            <div class="box-store">
                                                <i class="fa fa-minus" id="minus"></i>
                                                <div id="counter">
                                                    <span id="daveValue">1</span>
                                                </div>
                                                <i class="fa fa-plus" id="plus"></i>
                                            </div>
                                            <div id="product-test" class="product-buttons">

                                                @*     <a class="cart-btn"
                                                style="border: none;"
                                                data-price=""
                                                data-colorname=""
                                                onclick="addToCart('@Model.Product.Id','@Model.Product.Name','@Model.Product.Picture', this.getAttribute('data-price'), this.getAttribute('data-colorname'))">
                                                <input type="button" id="button" class="btnstore" value="افزدون به سبد خرید">
                                                </a> *@
                                                <a class="cart-btn"
                                                   style="border: none;"
                                                   data-price=""
                                                   data-colorname=""
                                                   onclick="addToCart('@Model.Product.Id','@Model.Product.Name','@Model.Product.Picture', this.getAttribute('data-price'), this.getAttribute('data-colorname'))">
                                                    <input type="button" id="button" class="btnstore" value="افزدون به سبد خرید">

                                                </a>
                                            </div>
                                        </div>

                                        <div class="social-share-buttons mt-20">
                                            <h5>این محصول را به اشتراک بگذارید.</h5>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="single-info mb-0">
                                            تگ ها:@Model.Product.Keywords
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-description-review-area">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="tab-slider-wrapper product-description-review-container  section-space--inner">
                                        <nav>
                                            <div class="nav nav-tabs justify-content-center" id="nav-tab"
                                                 role="tablist">
                                                <a class="nav-item nav-link active" id="description-tab"
                                                   data-toggle="tab" href="#product-description" role="tab"
                                                   aria-selected="true">توضیحات</a>
                                                <a class="nav-item nav-link" id="review-tab" data-toggle="tab"
                                                   href="#review" role="tab" aria-selected="false">نظرات (@Model.Product.Comments.Count)</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="product-description"
                                                 role="tabpanel" aria-labelledby="description-tab">

                                                <div class="post-content" style="direction: rtl">
                                                    @Html.Raw(Model.Product.Description)
                                                </div>


                                            </div>
                                            <div class="tab-pane fade" id="review" role="tabpanel"
                                                 aria-labelledby="review-tab">

                                                <div class="product-rating-wrap">
                                                    @* <div class="rating-list">
                                                    <div class="sin-list float-right">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>(5)</span>
                                                    </div>
                                                    <div class="sin-list float-right">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span>(3)</span>
                                                    </div>
                                                    <div class="sin-list float-right">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span>(1)</span>
                                                    </div>
                                                    <div class="sin-list float-right">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span>(0)</span>
                                                    </div>
                                                    <div class="sin-list float-right">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span>(0)</span>
                                                    </div>
                                                    </div>*@

                                                    @foreach (var comment in Model.Product.Comments)
                                                    {
                                                        <div class="sin-ratings">
                                                            <div class="rating-author">
                                                                <img src="~/Theme/assets/img/26263d3127afcbc9393ba1d98bb510f7.png" />
                                                                <div class="rating-author-title">
                                                                    <h3>@comment.Name</h3>
                                                                    @* <div class="rating-star">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <span>(5)</span>
                                                                </div>*@
                                                                    <p>@comment.Message</p>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    }

                                                </div>
                                                <div class="rating-form-wrapper fix">
                                                    <h3>نظر خود را به ما بگویید</h3>
                                                    <form method="post">
                                                        <div class="rating-form row">
                                                            <div class="col-md-6 col-12 form-group">
                                                                <label for="name">نام:</label>
                                                                <input id="name" placeholder="مثال:علی علوی" name="name" type="text">
                                                            </div>
                                                            <div class="col-md-6 col-12 form-group">
                                                                <label for="email">ایمیل:</label>
                                                                <input id="email" placeholder="مثال:contact@test.com" name="email" type="text">
                                                            </div>
                                                            <div class="col-12 form-group">
                                                                <label for="your-review">نظر شما:</label>
                                                                <textarea name="message" id="message"
                                                                          placeholder="نظر خود را بنویسید ..."></textarea>
                                                            </div>
                                                            <input type="hidden" name="ownerRecordId" value="@Model.Product.Id" />
                                                            <input type="hidden" name="productSlug" value="@Model.Product.Slug" />
                                                            <div class="col-12">
                                                                <input id="test" value="ارسال" type="submit">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-row-slider-area section-space">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="section-title-wrapper text-center section-space--half">
                                                            <h2 class="section-title"> محصولات مرتبط</h2>
                                                            <p class="section-subtitle">
                                                                بهترین محصولات را از ما با بهترین کیفیت خریداری بکنید .
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="sliders-product">
                                                    @foreach (var product in Model.RelatedProducts)
                                                    {
                                                        <div class="sliders-product-item">
                                                            @if (product.HasDiscount)
                                                            {
                                                                <span class="sale percent-discount">-@product.DiscountRate%</span>
                                                            }
                                                            <span class="new">مرتبط</span>
                                                            <a class="sliders-product-item-link" asp-page="/Product" asp-route-id="@product.Slug">
                                                                <img src="~/ProductPictures/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle">
                                                            </a>
                                                            <div class="slider-item">
                                                                <span>
                                                                    <a asp-page="/Product" asp-route-id="@product.Slug">@product.Name</a>
                                                                </span>
                                                                <p>
                                                                    @if (product.HasDiscount)
                                                                    {
                                                                        <span class="discounted-price">@_0_Framework.Application.Tools.ToFarsiPrice(product.PriceWithDiscount) تومان</span>
                                                                        <span class="main-price discounted">@_0_Framework.Application.Tools.ToFarsiPrice(product.Price) تومان</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="main-price">@_0_Framework.Application.Tools.ToFarsiPrice(product.Price) تومان</span>
                                                                    }
                                                                </p>
                                                            </div>

                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        const circles = document.querySelectorAll('.circle circle');
        const colorField = document.getElementById('color-field');
        let selectedColor = null;
        document.addEventListener('DOMContentLoaded', function () {
            const defaultPrice = document.getElementById('myPrice');
            if (defaultPrice) {
                const dataValue = defaultPrice.getAttribute('data-pricetomoney');
                const outputPrice = document.getElementById('pricemain');
                if (outputPrice) {
                    outputPrice.textContent = dataValue;
                }

                const dataDiscountPrice = defaultPrice.getAttribute('data-discountpricemain');
                const outputDiscountPrice = document.getElementById('discountmain');
                if (outputDiscountPrice) {
                    outputDiscountPrice.textContent = dataDiscountPrice;
                }


                // Set the blue border on the first circle by default
                if (circles.length > 0) {
                    circles[0].classList.add('blue-border');
                    updateCartButton(circles[0]);
                }


                circles.forEach(circle => {
                    circle.addEventListener('click', function () {
                        // Remove the blue border from all circles
                        circles.forEach(c => c.classList.remove('blue-border'));

                        // Add the blue border to the clicked circle
                        this.classList.add('blue-border');
                        selectedColor = this;
                        updateCartButton(this);
                        const ProductColor = this.getAttribute('data-fill');
                        colorField.textContent = ProductColor;
                    });
                });
            }
        });

        function updateCartButton(circle) {
            if (circle) {
                const unitPrice = circle.getAttribute('data-price');
                const unitPriceToMoney = circle.getAttribute('data-pricetomoney');
                const productColor = circle.getAttribute('data-fill');

                // Update the displayed price
                const pricemain = document.getElementById('pricemain');
                if (unitPriceToMoney) {
                    pricemain.textContent = unitPriceToMoney;
                }

                // Update the "افزودن به سبد خرید" button
                const cartButton = document.querySelector('.cart-btn');
                if (cartButton) {
                    cartButton.setAttribute('data-price', unitPrice);
                    cartButton.setAttribute('data-colorname', productColor);
                }

                colorField.textContent = productColor;
            }
        }

        let price = document.getElementById('parent-list');
        price.addEventListener('click', function (e) {
            if (e.target.tagName === 'circle') {
                const UnitPrice = e.target.getAttribute('data-price');
                const UnitPriceToMoney = e.target.getAttribute('data-pricetomoney');
                const ProductColor = e.target.getAttribute('data-fill');

                // Update the data attributes of the "افزودن به سبد خرید" button
                const cartButton = document.querySelector('.cart-btn');
                cartButton.setAttribute('data-price', UnitPrice);
                cartButton.setAttribute('data-colorname', ProductColor);


                // Update the displayed price and discount if needed
                let pricemain = document.getElementById("pricemain");
                let discountmain = document.getElementById("discountmain");
                if (UnitPriceToMoney) {
                    pricemain.textContent = UnitPriceToMoney;
                    discountmain.textContent = dataDiscountPrice; // You'll need to retrieve this value from your data source.
                }

                event.preventDefault();
            }
        });



    </script>


            }


